@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
:root{
	--primary: #0077b6;
	--secondary: #48cae4;
	--black: #333;
	--white: #fff;
	--box-shadow: 0.5rem 1rem rgba(0,0,0,0.1);
}
*{
	font-family: 'Poppins' sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	border: none;
	text-decoration: none;
	transition: 0.3s;
}
html{
	font-size: 62.5%;
	overflow-x: hidden;
	scroll-behavior: smooth;
	scroll-padding-top: 9rem;
}
html::-webkit-scrollbar{
	width: .8rem;
}
html::webkit-scrollbar-thumb{
	background: var(--primary);
	border-radius: .5rem;
}
section{
	padding: 5rem 7%;
}

.header{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	background: var(--white);
	box-shadow: var(--box-shadow);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0rem 9%;
}
.header .logo{
	font-size: 2.5rem;
	font-weight: bolder;
	color: var(--black);
	position: relative;
}
.logo img{
	height: 75px;
	width: 75px;
}
.header .logo i{
	position: absolute;
	color: var(--primary);
	padding-right: .5rem;
	margin-top: 24px;
	margin-left: -91px;
}
.header .navbar a{
	font-size: 2.0rem;
	color: var(--black);
	margin: 0 1rem;
}
.header .navbar a:hover{
	color: var(--primary);
}
.book_btn{
	display: inline-block;
	margin-top: 1rem;
	padding: 1rem 3rem;
	background: var(--primary);
	border-radius: .5rem;
	color: #fff !important;
	cursor: pointer;
	font-size: 1.7rem;
}
.book_btn:hover{
	background: var(--secondary);
}

.heading{
	font-size: 4rem;
	color: var(--primary);
	text-align: center;
	text-transform: uppercase;
	font-weight: bolder;
	margin-bottom: 3rem;
}
.btn{
	display: inline-block;
	margin-top: 1rem;
	padding: 1rem 4rem;
	background: var(--primary);
	border-radius: .5rem;
	font-size: 1.7rem;
	color: var(--white);
	cursor: pointer;
}
#menu-btn{
	display: none;
	font-size: 2.5rem;
	margin-left: 1.7rem;
	cursor: pointer;
	color: var(--black);
}
#menu-btn:hover{
	color: var(--primary);
}

.home{
	padding: 0;
}
.home .slide{
	min-height: 100vh;
	background-size: cover !important;
	background-position: center !important;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: -1;
}
.home .slide .content{
	width: 88rem;
	text-align: center;
}
.home .slide .content h3{
	background: var(--black);
	width: 300px;
	font-size: 2rem;
	margin-left: 29rem;

	text-transform: uppercase;
	color: var(--white);
	line-height: 1.1;
	padding: 2rem 0;
}
.content .btn{
	margin-left: 10px;
	background: #000;
	color: var(--white);
}
.content .btn:hover{
	color: var(--white);
}
.btn i{
	color: #fff;
	transition: 0.3s;
}
.btn:hover i{
	transform: translateX(7px);
}
.swiper-button-next,
.swiper-button-prev{
	height: 5rem;
	width: 5rem;
	line-height: 5rem;
	background: var(--white);
	color: var(--black);
}
.swiper-button-next:hover,
.swiper-button-prev:hover{
	background: var(--primary);
	color: var(--white);
}
.swiper-button-next::after,
.swiper-button-prev::after{
	font-size: 2rem;
}



section_2{
	padding: 5rem 0%;
}
.dt_text h1{
	font-size: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 28px;
}
.dt_text h1 span{
	color: #00d4ff;
	margin-left: 15px;
	font-family: Gabriola;
}
.dt_text h1 span::after{
	content: '';
	width: 100%;
	height: 2px;
	background: #00d4ff;
	display: block;
	position: relative;
	bottom: 15px;
}
.menu{
	width: 100%;
	padding: 40px 0;
}
.menu_box{
	width: 95%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grip-gap: 15px;
}
.menu_cart{
	width: 325px;
	height: 260px;
	padding-top: 10px;
	margin-bottom: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}
.menu_image{
	width: 300px;
	height: 150px;
	margin: 0 auto;
	overflow-x: hidden;
}
.menu_image img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}
.menu_image img:hover{
	transform: scale(1.1);
}
.menu_info h2{
	text-align: center;
	margin: 3px auto 3px auto;
	font-size: 20px;
	color: #00d4ff;
}
.menu_info p{
	text-align: center;
	margin-top: 8px;
	font-size: 17px;
}
.menu_icon{
	color: #00d4ff;
	margin: 3px 0 3px 0;
	font-size: 17px;
	text-align: center;
}








section .cart{
    height: 450px;
    width: 50%;
}
section .cart img{
    height: 300px;
    display: block;
    width: 300px;
    margin-left: 230px;
    margin-top: 50px;
}
.img_btn{
    display: block;
    padding: 2rem 4rem;
    background: var(--primary);
    border-radius: .5rem;
    font-size: 1.7rem;
    color: var(--white);
    cursor: pointer;
    margin: auto;
}
section .form{
    height: 450px;
    width: 50%;
    margin-left: 50%;
    margin-top: -450px;
}
form{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    background: #eee;
    padding: 3rem;
    border-radius: .5rem;
}
form .box{
    flex: 1 1 20rem;
}
form .box p{
    font-size: 2rem;
    color: var(--primary);
}
form .box .input{
    width: 100%;
    padding: 1rem;
    font-size: 1.8rem;
    color: var(--black);
    margin: 1rem 0;
    border-radius: .5rem;
}





/* Booking */


.booked form{
    padding: 2rem;
    border: .2rem solid rgba(0, 0, 0, 0.1);
    border-radius: 1.5rem;
}
section h1 span{
    color: red;
    font-size: 5.0rem;
    font-family: mv boli;
}
.booked form .container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.container .box{
    flex: 1 1 40rem;
}
.container .box p{
    font-size: 1.8rem;
    color: var(--primary);
}
.container .box .input{
    font-size: 1.8rem;
    width: 100%;
    padding: 1rem 0;
    margin: 1rem 0;
    border-bottom: .2rem solid rgba(0, 0, 0, 0.1);
    color: var(--black);
}


.room_btn{
    display: block;
    padding: 1rem 3rem;
    background: var(--primary);
    border-radius: .5rem;
    font-size: 1.7rem;
    color: var(--white);
    cursor: pointer;
    margin: auto;
}





/* Review */


.review{
    background-image: url("images/b.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 48rem;
    position: relative;
    margin: 4rem 0;
}

.review-slider{
    background: var(--black);
    padding: 2rem;
    width: 50%;
    height: 145%;
    margin-top: -8rem;
    margin-right: 60rem;
    padding-top: 6%;
    color: var(--white);
    box-shadow: var(--box-shadow);
}

.review .slide{
    text-align: center;
}

.slide .heading{
    color: var(--white);
}

.review.slide i{
    font-size: 6rem;
    color: var(--black);
}

.slide p{
    display: block;
    width: 400px;
    margin: auto;
    padding-bottom: 1.5rem;
    padding-top: 3rem;
    font-size: 1.5rem;
    line-height: 1.8;
    color: var(--white);
}

.user{
    display: flex;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    border-radius: .5rem;
}


.user img{
    height: 7rem;
    width: 7rem;
    border-radius: 15%;
    object-fit: cover;
}

.user h3{
    font-size: 2rem;
    color: var(--black);
    padding-bottom: .5rem;
}

.user i{
    font-size: 1.3rem;
    color: var(--primary);
}







/* Faq */


.faqs .row{
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
	align-items: center;
}
.faqs .row .image{
	flex: 1 1 40rem;
}
.faqs .row .image img{
	width: 100%;
}
.faqs .row .content{
	flex: 1 1 40rem;
}
.faqs .row .content .box{
	margin-top: 2rem;
}
.faqs .row .content .box h3{
	font-size: 2.5rem;
	color: var(--primary);
	padding: 1.5rem;
	cursor: pointer;
}
.faqs .row .content .box p{
	font-size: 2.0rem;
	padding: 1.5rem 2rem;
	line-height: 2;
	color: var(--black);
	box-shadow: var(--box-shadow);
	display: none;
}
.faqs .row .content .box.active p{
	display: inline-block;
}







/* footer */
footer{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin-top: 150px;
	padding: 60px 10%;
	background: #2d2e33;
}
ul{
	list-style: none;
}
.footer-col{
	width: 24%;
}
.footer-col h4{
	position: relative;
	margin-bottom: 30px;
	font-size: 22px;
	font-weight: 400;
	color: #f1bc0d;
	text-transform: uppercase;
}
.footer-col h4::after{
	content: '';
	position: absolute;
	left: 0;
	background: #27c0ac;
	bottom: -6px;
	height: 2px;
	width: 120px;
}
footer ul li:not(:last-child){
	margin-bottom: 8px;

}
footer ul li a{
	display: block;
	font-size: 16px;
	color: #bdb6b6;

}
footer ul li a:hover{
	color: #fff;
	padding-left: 5px;
}
.share{
	padding-top: 1rem;
}
.share a{
	color: var(--primary);
	font-size: 2rem;
	width: 5rem;
	height: 5rem;
	text-align: center;
	line-height: 5rem;
	border-radius: 50%;
	border: .1rem solid #bdb6b6;
	margin: .3rem;
}
.share a:hover{
	color: var(--white);
	background: var(--primary);
	transform: rotate(360deg);
}
.credit{
	font-size: 2rem;
	text-align: center;
	margin-top: 2.5rem;
	border-top: .1rem solid rgba(0, 0, 0, 0.3);
	color: var(--white);

}
.credit span{
	color: var(--primary);
}




@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding: 2rem 3rem;
    }

}

@media (max-width: 768px){

    #menu-btn{
        display: inline-block;
    }

    .header .navbar{
        position: absolute;
        top: 110%; right: -110%;
        width: 30rem;
        box-shadow: var(--box-shadow);
        background: var(--white);
        border-radius: .5rem;
    }

    .header .navbar.active{
        right: 2rem;
        transition: .4s linear;
    }

    .header .navbar a{
        font-size: 2rem;
        margin: 2rem 2.5rem;
        display: block;
    }

    .home .slide .content{
        width: 50rem;
    }

    .review .review-slider{
        width: 100%;
        padding: 1rem;
        padding-top: 15%;
    }

}

@media (max-width: 450px){

    html{
        font-size: 50%;
    }

    .home .slide .content{
        width: 30rem;
    }

    .home .slide .content h3{
        font-size: 3rem;
    }

}